body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#7a0019;
color:white;
padding:20px;
text-align:center;
font-size:22px;
}

.container{
max-width:1200px;
margin:auto;
display:flex;
gap:40px;
padding:30px;
flex-wrap:wrap;
}

.controls{
flex:1;
}

.preview{
flex:1;
display:flex;
justify-content:center;
align-items:center;
}

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
margin-bottom:20px;
}

.grid img{
width:80px;
cursor:pointer;
border:2px solid transparent;
}

.grid img:hover{
border:2px solid red;
}

.colors{
display:flex;
gap:10px;
margin-bottom:20px;
}

.color{
width:30px;
height:30px;
border-radius:50%;
cursor:pointer;
border:2px solid #ddd;
}

.hitam{background:#000}
.maroon{background:#7a0019}
.navy{background:#001f3f}

.mockup{
position:relative;
width:350px;
height:500px;
}

.mockup img{
position:absolute;
width:100%;
}

#colorLayer{
position:absolute;
width:100%;
height:100%;
mix-blend-mode:multiply;
}

#textLayer{
position:absolute;
top:40%;
left:30%;
color:gold;
font-size:26px;
font-weight:bold;
}
